html, body {
    font-family: Arial,Narrow,sans-serif;
}

body {
    font-size: 11pt;
}

h1 {
	color: black;
}

h2 {
	text-align: center;
}

.content { 
    width: 250px;
    margin-left: 200px; 
    background:  #aaaaaa;
    padding: 50px;
    padding-left: 50px; 
    border: solid 1px #aaaaaa; 
    margin-right: 500px;
    background-color: #f9f9f9;
}
   a{
    text-decoration: none;
   }
a:hover {
  text-decoration:underline
}
#Bill_joy {
  height:170px; 
  width:150px; 
  right:100%;
  float: right;
}
#Marc_Andreessen {
width:150px;
height:170px;
float: left;
}
#BEich {
  height:170px;
  width:150px;
  float: left;
}
.menu { 
    width: 180px; 
    height: 2780px;
    margin-right:20px;
    background: #ccc;
    border: solid 1px #a7d7f9; 
    float: left;
    background-color: #f6f6f6;
   }