html, body {
    font-family: Arial, Narrow, sans-serif;
}

body {
    font-size: 11pt;
    margin: 0px;
}

h1 {
    color: black;
}

h2 {
    text-align: center;
}

.content {
    width: 400px;
    background: #aaaaaa;
    border: solid 1px #aaaaaa; 
    background-color: #f9f9f9;
    float: left;
    font-size: 14px;
    position: absolute;
    left: 200px;
    top: 370px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

#Bill_joy {
    height: 170px; 
    width: 150px; 
    right: 100%;
    float: right;
    margin: 7px;
}

#Marc_Andreessen {
    width: 150px;
    height: 170px;
    float: left;
    margin: 7px;
}

#BEich {
    height: 170px;
    width: 150px;
    float: left;
    margin: 7px;
}

.menu {
    width: 180px; 
    height: 2600px;
    margin-right: 20px;
    background: #ccc;
    border: solid 0px;
    float: left;
    background-color: #f6f6f6;
    font-size: 9pt;
}

.menu ul {
    list-style-type: none;
    line-height: 1.5em;
}

.hr {
    height: 2600px;
    width: 1px;
    background-color: #a7d7f9;
    border: solid 0 1px #a7d7f9;
    position: absolute;
    left: 180px;
}

#mw-wiki-logo {
    height: 140px;
    width: 120px;
    margin-left: 35px;
}

.JS {
    width: 270px;
    height: 670px;
    background: #aaaaaa;
    border: solid 1px #aaaaaa; 
    background-color: #f9f9f9;
    float: right
}

.text {
    width: 730px;
    float: left;
}

#JS-logo {
    margin-left: 100px;
    padding-top: 10px;
}

h4 {
    text-align: center;
}

table {
    border-spacing: 5px;
    font-size: 10pt;
}

.text1 {
    float: right;
    margin-left: 200px;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 1250px;
}
